.container{
    width: 100%;
    height: 98%;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MESSAGES */
.chat_box{
    width: 100%;
    height: 100%;

    border: 1px solid black;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: space-between;

    overflow-y: auto;
}


/* HEADER */
.header{
    width: 100%;
    height: 80px;

    border: 1px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;

    background-color: var(--primary-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.message_profile{
    height: 100%;
    width: 100%;
    min-width: 160px;
    padding: 0 25px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    transition: 0.5s ease-in;
}
.message_profile:hover{
    background-color: var(--hover-color);
    border-right: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.default_profile{
    width: 40px;
    height: 40px;
    
    border: 2px solid black;
    border-radius: 50px;
    margin-right: 2%;
    cursor: pointer;
}

.profile_details{
    min-width: 100px;

    font-family: var(--font-family-head);
    cursor: pointer;

    .profile_name{
        margin: 0;
        text-decoration: none;
        font-weight:700;
        color: black;
        font-size: 1.5rem;
    }

    .profile_name:hover{
        text-decoration: underline;
        font-style: italic;
    }

    .active{
        width: 100px;

        margin: 0;
        font-size: 0.8rem;
        position: relative;

        div{
            background-color: #17ce42;
            width: 10px;
            height: 10px;
            border: 1px solid rgb(52, 72, 49);
            border-radius: 20px;
    
            position: absolute;
            right: 20px;
            bottom: 1px;
        }
    }
   
}

.stream_icons{
    width: 25%;
    height: 100%;
    padding: 0 25px;
    border-top-right-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}
.audioCall_icon{
    width: 25px;
    height: 25px;
    margin-right: 25px;
    transition: 0.5s ease-out;
    
    cursor: pointer;
}
.audioCall_icon:hover{
    transform: scale(1.1) rotate(15deg);
}

.videoCall_icon{
    width: 30px;
    height: 35px;
    margin-right: 25px;
    transition: 0.5s ease-out;

    cursor: pointer;
}
.videoCall_icon:hover{
    transform: scale(1.2);
}

.setting_icon{
    width: 24px;
    height: 24px;
    
    cursor: pointer;
    transition: 0.5s ease-out;
}
.setting_icon:hover{
    transform: rotate(90deg);
}


/* USER INPUT */
.input_div{
    width: 100%;
    height: 70px;
    z-index: 5px;

    background-color: var(--primary-color);

    border: 1px solid black;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.user_input{
    width: 80%;
    height: 60%;
    outline: 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}

.user_input::placeholder{
    font-size: 1rem;
}


/* ICONS */
.send_icon{
    width: 25px;
    height: 20px;
    
    cursor: pointer;
    transition: 0.5s ease;
}

.send_icon:hover{
    transform: scale(1.1) rotate(-10deg);
}

.add_folder_icon{
    width: 30px;
    height: 25px;
    
    cursor: pointer;
    transition: 0.5s ease;
}
.add_folder_icon:hover{
    transform: scale(1.2) rotate(10deg);
}

.image_icon{
    width: 25px;
    height: 25px;
    
    cursor: pointer;
    transition: 0.5s ease;
}
.image_icon:hover{
    transform: scale(1.2) rotate(-10deg);
}
