.search_list{
    position: absolute;

    width: 117.8%;
    height: auto;
    max-height: 64.4vh;
    background-color: red;

    box-sizing: border-box;

    z-index: 100;
    left: -27px;
    top: 40px;

    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
}
.search_list::-webkit-scrollbar {
  display: none; 
}

.friend_container{
    width: 80%;
    height: 100px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    background-color: yellow;
    z-index: 1000;
    overflow: auto;

}